* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: $gray;
    margin: 0;
    overflow-x: hidden;

    .loading-gif {
        display: none;
        border: solid 1px $dark-gray;
        border-radius: 8px;
        transform: translate(-50%, 0);
        position: absolute;
        left: 50%;
        top: 30%;
        height: 100px;
        z-index: 1;
    }

    &.loading {
        &::after {
            content: "";
            display: block;
            background: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .loading-gif {
            display: block;
        }
    }
}

.cfx::before,
.cfx::after {
    clear: both;
}

.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}
