<div class="weather-card ${weatherType}" ng-class="vm.weather.main">
    <div class="header">
        <h2>{{vm.data.day}}</h2>

        <img alt="weather icon" ng-src="{{vm.icon}}">

        <div style="clear:both"></div>
    </div>

    <div class="content">
        <h3 class="cfx" ng-bind="vm.weather.main"></h3>

        <p class="temp-high">High: {{vm.data.temp.max}}&deg;</p>
        <p class="temp-low">Low: {{vm.data.temp.min}}&deg;</p>
        <p class="humidity">Humidity: {{vm.data.humidity}}&#37;</p>

        <hr>

        <p class="description" ng-bind="vm.weather.description"></p>
    </div>
</div>
